doctype html
html
  head
    title.
      Saumitra Bose
    meta(charset="UTF-8")
    meta(name="description", content="Saumitra Bose: Portfolio")
    meta(name="author" content="Saumitra Bose")
    link(rel="stylesheet", type="text/css", href="dist/style.css" )
    link(rel="stylesheet", type="text/css", href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900")
  body
    div.view.activeview.homeview(id="view1")
      div.hometext
        div.titlename.
          Saumitra Bose
        div.titleprops.
          Developer. Designer. Programmer.
    div.view.workview(id="view2").
      My work
    div.view.visionview(id="view3").
      How I do it
    div.view.contactview(id="view4").
      Contact me here
    ul.navs
      li.navelem.activenav(id="nav1") Home
      li.navelem(id="nav2") Portfolio
      li.navelem(id="nav3") Vision
      li.navelem(id="nav4") Contact 
  script(src="dist/script.js")