doctype html
html(id="allhtml")
  head
    title.
      Saumitra Bose
    meta(charset="UTF-8")
    meta(name="description", content="Saumitra Bose, Web Developer, Student at D.J.S.C.O.E.")
    meta(name="author" ,    content="Saumitra Bose")
    meta(name="robots", content="index, follow")
    meta(name="keywords", content="Saumitra Bose, Saumitra, Bose, DJSCOE, Web Developer, Freelance")
    meta(name="viewport",  content="width=device-width, initial-scale=1")
    meta(name= "google-site-verification", content="GHZU06Azr4wUHph0RXiAuGFYsiOPHJ2PH6lExOFmIso")
    link(rel="stylesheet", type="text/css", href="dist/style.css")
    link(rel="stylesheet", type="text/css", href="dist/assets/devicons/css/devicons.min.css")
    link(rel="stylesheet", type="text/css", href="dist/assets/icons/css/fontello.css")
    link(rel="stylesheet", type="text/css", href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900")
  body(id="allofthis")
    //HOMEVIEW START
    div.view.activeview.homeview(id="view1")
      div.hometext
        div.titlename.
          Saumitra Bose
        div.titleprops.
          Developer. Designer. Programmer.
    //HOMEVIEW END
    //WORKVIEW START
    div.view.workview(id="view2")
      div.titletext.viewtitile WORK
      - var worknames = ["Conway's Game Of Life", "Random Shakespeare Poems", "Tic Tac Toe", "Weather App", "Simon Game"];
      - var worklinks = ["https://imtoobose.github.io/conway-game", "https://randomshakespeare.surge.sh/", "https://imtoobose.github.io/Tic-Tac-Toe", "https://imtoobose.github.io/Weather", "https://imtoobose.github.io/Simon-Game"];
      - var works= 1;
      div.workbox
        while works<=5
          div.workcontain
            image.workimg(id="workimg"+works, class="workimg"+works)
            a.workanchor(href=worklinks[works-1], class="workanchor"+works, id="workanchor"+works)
              i.ion-link.icon-link
          - works+=1;
      - works = 1;
      div.loadingall(id="loadingall")
        div.loadingtext LOADING
      while works <= 5
        div.workposter.coverimage(class="workposter"+works, id="workposter"+works)
          div.loading LOADING
          div.workdescription(class="workdescription"+works, id="workdescription"+works) 
            a.worklink(id="worklink"+works, class="worklink"+works, href=worklinks[works-1], target="_blank")
              i.icon-link.linkicon
        - works+=1;
    //WORKVIEW END
    //TOOLSVIEW START
    div.view.toolsview(id="view3")
      div.titletext.tooltitle.
        TOOLS
      div.toolbox 
        -var arr= ["javascript", "python" ,"react", "sass" , "html5" , "css3", "bootstrap", "nodejs", "git", "gulp", "sublime", "windows"];
        ul.tooliconbox
          each icon in arr
            li.icon
              i.toolicons.devicons(class="devicons-"+icon, id="icon-"+icon)
              - var name;
              - if(icon=="nodejs") name= "NodeJS";
              - else if(icon=="css3") name= "CSS3";
              - else if(icon=="sublime") name="Sublime 3";
              - else if(icon=="html5") name="HTML5";
              - else{
              -   name = icon.split('');
              -   name[0]=name[0].toUpperCase();
              -   name= name.join('');
              -  }
              div.icondescription(id="desc-"+icon)= name
    //TOOLSVIEW END
    //CONTACT VIEW START
    div.view.contactview(id="view4")
      div.titletext.contacttitle.
        CONTACT
      div.emailname(id="emailname")
        div.text.
          imtoobose@gmail.com
        - var social= 0;
        - var socialnames= [["GITHUB", "https://github.com/imtoobose"], ["TWITTER", "https://twitter.com/saumitrabose"], ["LINKEDIN", "https://in.linkedin.com/in/saumitrabose"]];
        while social < 3
          div.socialtext 
            a.intext(href= socialnames[social][1], target="_blank") #{socialnames[social][0]}
          - social +=1;
    //CONTACTVIEW END
    //NAVS START
    nav
      ul.navs
        li.navelem.activenav(id="nav1") Home
        li.navelem(id="nav2") Portfolio
        - var sub =1;
        li.subs(id="subs")
          while sub <= 5
            if sub == 1
              div.subelem.activesub(id="sub"+sub)
            else
              div.subelem(id="sub"+sub)
            - sub+=1;
        li.navelem(id="nav3") Tools
        li.navelem(id="nav4") Contact
    //NAVS END 
  script(src="dist/bundle.js")