doctype html
html
  head
    title.
      Saumitra Bose
    meta(charset="UTF-8")
    meta(name="description", content="Saumitra Bose, Web Developer, Student at D.J.S.C.O.E.")
    meta(name="author" ,    content="Saumitra Bose")
    meta(name="robots", content="index, follow")
    meta(name="keywords", content="Saumitra Bose, Saumitra, Bose, DJSCOE, Web Developer, Freelance")
    meta(name="viewport",  content="width=device-width, initial-scale=1")
    meta(name= "google-site-verification", content="GHZU06Azr4wUHph0RXiAuGFYsiOPHJ2PH6lExOFmIso")
    link(rel="stylesheet", type="text/css", href="dist/assets/devicons/css/devicons.min.css")
    link(rel="stylesheet", type="text/css", href="dist/style.css" )
    link(rel="stylesheet", type="text/css", href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900|Roboto+Slab:400,700")
  body
    div.view.activeview.homeview(id="view1")
      div.hometext
        div.titlename.
          Saumitra Bose
        div.titleprops.
          Developer. Designer. Programmer.
    div.view.workview(id="view2")
      div.titletext.viewtitile WORK
      ul.workcontainer
        - var works= 1;
        while works <= 5
          li.workbox(class="workbox-"+works, id= "workbox"+works)
            img.workimg(class="workimg-"+works, id="workimg"+works, src="#")
            div.workdescription(class= "workdes-"+works ,id="workdes"+works)
          - works+=1;
    div.view.toolsview(id="view3")
      div.titletext.tooltitle.
        TOOLS
      div.toolbox 
        -var arr= ["javascript", "python" ,"react", "sass" , "html5" , "css3", "bootstrap", "nodejs", "git", "gulp", "sublime", "windows"];
        ul.tooliconbox
          each icon in arr
            li.icon
              i.toolicons.devicons(class="devicons-"+icon, id="icon-"+icon)
              - var name;
              - if(icon=="nodejs") name= "NodeJS";
              - else if(icon=="css3") name= "CSS3";
              - else if(icon=="sublime") name="Sublime 3";
              - else if(icon=="html5") name="HTML5";
              - else{
              -   name = icon.split('');
              -   name[0]=name[0].toUpperCase();
              -   name= name.join('');
              -  }
              div.icondescription(id="desc-"+icon)= name
    div.view.contactview(id="view4")
      div.titletext.contacttitle.
        CONTACT
      div.emailname 
        div.text.
          imtoobose@gmail.com
        - var social= 0;
        - var socialnames= [["GITHUB", "https://github.com/imtoobose"], ["TWITTER", "https://twitter.com/saumitrabose"], ["LINKEDIN", "https://in.linkedin.com/in/saumitrabose"]];
        while social < 3
          div.socialtext 
            a.intext(href= socialnames[social][1], target="_blank") #{socialnames[social][0]}
          - social +=1;

    ul.navs
      li.navelem.activenav(id="nav1") Home
      li.navelem(id="nav2") Portfolio
      li.navelem(id="nav3") Tools
      li.navelem(id="nav4") Contact 
  script(src="dist/bundle.js")