$font: 'Lato', sans-serif;
html, body{
  font-family: $font;
  -webkit-font-smoothing:antialiased;
  font-smooth: always;
  -moz-osx-font-smoothing:grayscale;
  margin :0;
  overflow: hidden;
  padding: 0;
}

@mixin wordwrap{
  white-space: pre-wrap;        
  white-space: -moz-pre-wrap;     
  white-space: -pre-wrap;         
  white-space: -o-pre-wrap;       
  word-wrap: break-word;      
}

@mixin center{
  left:50%;
  position:absolute;
  top:50%;
  transform: translate(-50%, -50%);
}

/*---all views----*/
.view{
  height: 100%;
  left:50%;
  opacity:0;
  position: absolute;
  top:50%;
  transform: translate(-500%, 0%);
  width: 100%;
}

div.activeview{
  @include center;
  opacity:1;
}

/*----views-----*/
div.homeview{
  color: #FFFFFF;
  background-color: #84DCC6;
  & div.hometext{
    @include center; 
    & div.titlename{
      font-weight: 900;
      font-size: 7vw;   
      text-align : center;
    }
    & div.titleprops{
      font-weight:600;
      font-size: 2vw;
    }
  }
}

div.toolsview{
  ul.tooliconbox{
    clear: both;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    font-size: 4em;
    max-width: 85%;
    & li{
      flex: 1 0 1;
      color:white;
      margin: 10px;
      &:hover{
        color:white;
      }
    }
  }
}

/*----navbar---*/
ul.navs{
  color: fade-out(#000, 0.8);
  font-size: 1.2em;
  font-family: $font;
  font-weight: 700;
  margin-top: 50px;
  margin-right: 20px;
  list-style-type: none;
  position: absolute;
  float:right;
  right: 5px;
  text-align: right;

  & li.navelem{
    cursor: pointer;
    margin-bottom: 5px;
    transition: color 0.2s linear;

    &:hover{
      color:white;
    }
  }
  & li.activenav{
    color:white;
  }
}

/*----background colors----*/
$colors: #84DCC6, #A5FFD6, #FFA69E, #FF686B;
$j: 1;
@each $lscolor in $colors{
  #view#{$j}{
    background-color: $lscolor;
    $j: $j+1;
  }
}

/*----mobile layout----*/
@mixin mobileview{
  ul.navs{
    display:none;
  }

  body, html{
    overflow: auto;
    height:100%;
  }

  p, ul.tooliconbox{
    padding: 0 !important;
    margin: 0 !important;
    height: auto;
  }

  div.view{
    display:block;
    position: relative;
    height: auto;
    min-height: 100%;
    transform: none;
    opacity: 1;
    top: 0;
    left: 0;
  }

  div.activeview{
    top: 0;
    left: 0;
    transform:none;
  }

  div.hometext{
    & div.titlename{
      font-size: 10vw !important;
    }
  }

  div.titleprops{
    font-size: 4vw !important;
    text-align: center;
  }
}

@media (max-width: 760px){
  @include mobileview;
}