//Index:
//1. General Styles
//2. View General
//3. View Specific
//   1. Home View
//   2. Works View
//   3. Tools View
//   4. Contact View
//4. Navbar
//5. Background Colors
//6. Mobile Layout
//7. Animations

//All properties are in alphabetical order

//----General Styles----

$font: 'Lato', sans-serif;
$color1: #84DCC6;
$color2: #FFA69E;
$color3: #3D405B;
$color4: #FF686B;
$white : #FFFFFF;

html, body{
  font-family: $font;
  -webkit-font-smoothing:antialiased;
  font-smooth: always;
  -moz-osx-font-smoothing:grayscale;
  margin :0;
  padding: 0;
}

@mixin wordwrap {
  white-space: pre-wrap;        
  white-space: -moz-pre-wrap;     
  white-space: -pre-wrap;         
  white-space: -o-pre-wrap;       
  word-wrap: break-word;      
}

@mixin center{
  left:50%;
  position:absolute;
  top:50%;
  transform: translate(-50%, -50%);
}

canvas{
  //background: red;
  @include center;
}
//---View General----
.view {
  min-height: 100%;
  opacity:0;
  position: absolute;
  width: 100%;
  transform: translateX(-500%);
}

.activeview{
  opacity:1;
  transform: translate(0,0);
}

.titletext{
  display:none;
}
//----View Specific-----

//----Home View----
.homeview{
  color: #FFFFFF;
  & .hometext{
    @include center; 
    & .titlename{
      font-weight: 900;
      font-size: 7vw;   
      text-align : center;
    }
    & .titleprops{
      font-weight:600;
      font-size: 2vw;
    }
  }
}

//----Works View----
.workview{
  overflow: hidden;
  & .workbox{
    display: none;
  }

  & .workposter{
    z-index: 1;
    position: absolute;
    height: 100%;
    width: 100%;
    display: block;
    & .workdescription{
      color: $white;
      font-family: $font;
      font-size: 1.4em;
      font-weight: 300;
      z-index: 100;
      border-radius: 50%;
      position: absolute;
      bottom: 0;
      right: 10px;
      & a{
        padding: 0;
        margin: 0;
        float: left;
      }
    }
  }

  .linkicon{
    font-size: 2em;
  }
  .worklink{
    position: relative;
    & i{
      text-decoration: none;
      transition: all 0.2s ease;
    }
    
    &:hover{
      & i{
        transform: scale(1.2);
      }
    }
  }

  & .coverimage{
    -webkit-background-size: cover !important;
    -moz-background-size: cover !important;
    -o-background-size: cover !important;
    background-size: cover !important;
  }

  $worksbackground: #28353b, #f2f1ed, #af6d69, #28353b, #3e3e43;
  @for $i from 1 through 5{
    .workposter-#{$i}{
      background: nth($worksbackground, $i);
    }

    .worklink#{$i}{
      $incolor: white;
      @if $i == 2{
        $incolor:hsl(hue(nth($worksbackground, $i)), 50, 60);
      }
      @else {
        $incolor:hsl(hue(nth($worksbackground, $i)), 50, 70);
      }

      color: $incolor;

      &:link{
        color: $incolor;
      }
      &:active{
        color:$incolor;
      }
      &:hover{
        color: fade-out($incolor, 0.3);
      }
    }
  }
}

//----Tools View----
.toolsview{
  .tooliconbox{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style-type: none;
    margin: 0;
    max-width: 85%;
    padding: 0;
    padding-top:10%;
    padding-left: 5%;
    position:relative;
    & .icon{
      color:hsla(hue($color3), 60, 70,0.8);
      flex: 1 0 1;
      margin: 2%;
      transition: all 0.25s ease;
      & .devicons{
        cursor: pointer;
        font-size: 6em;
      }
      & .icondescription{
        font-size: 1em;
        font-weight: 700;
        opacity: 0;
        text-align: center;
        transition: opacity 0.25 ease;
      }
      &:hover{
        color: $white;
        transform: scale(1.1);
        & .icondescription{
          opacity: 1;
        }
      }
    }
  }
}

//Gulp description used to be too close
//to the icon
#icon-gulp{
    & + .icondescription{
      margin-top:4px !important;
    }
}

//----Contact View----
.emailname{
  @include center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  & .text{
    color: $white;
    flex: 1 0 100%;
    font-size: 3vw;
    font-weight: 700;
  }
  & .socialtext{
    display: flex;
    flex: 1 0 auto;
    height: auto;
    padding-top: 20px;
    position: relative;
    width: 33%;
    & .intext{
      color: $white;
      display: inline-block;
      font-size: 1.6vw;
      left: 50%;
      position: absolute;
      text-decoration: none;
      transform: translate(-50%);
      &:link{
        color: $white;
      }
      &:active{
        color:$white;
      }
      &:hover{
        &:before{
          animation: strike 0.5s ease 1;
          background: fade-out($white, 0.3);
          content: '';
          display: block;
          height: 2px;
          left: -5%;
          position: absolute;
          top: 55%;
          width:110%;
        }
      }
    }
  }
}

//----Navbar---
.navs{
  color: fade-out(#000, 0.8);
  font-size: 1.2em;
  font-family: $font;
  font-weight: 700;
  margin-top: 50px;
  margin-right: 20px;
  list-style-type: none;
  position: absolute;
  right: 5px;
  text-align: right;
  -webkit-transform-style: preserve-3d;
  & .navelem{
    cursor: pointer;
    margin-bottom: 5px;
    transition: color 0.2s linear;
    &:hover{
      color:white;
    }
  }
  & .activenav{
    color:white;
  }
}

//----Background Colors----
$colors: $color1, $color2, $color3, $color4;
$j: 1;
@each $lscolor in $colors{
  #view#{$j}{
    background-color: $lscolor;
    $j: $j+1;
  }
}

//----Mobile Layout----
@mixin mobileview{
  body, html {
    height:100%;
  }

  html{
    overflow-y: scroll;
    overflow-x: hidden; 
    -webkit-overflow-scrolling: touch;
  }
  
  .view {
    display:block;
    position: relative;
    min-height: 100%;
    transform: none;
    opacity: 1;
    top: 0;
    left: 0;
  }

  .activeview {
    top: 0;
    left: 0;
    transform:none;
  }

  .titletext{
    display:block;
    padding-top: 35px;
    text-align: center;
    font-weight: 900;
    font-family: $font;
    font-size: 1.4em;
    color: $white;
    position: relative;
    &:before{
      content:'';
      display: block;
      height: 4px;
      width:30px;
      position: absolute;
      top: 100%;
      left: 50%;
      transform: translateX(-50%);
      border-bottom: solid $white 4px;
    }
  }

  .hometext{
    & .titlename{
      font-size: 7vw !important;
    }
    & .titleprops{
      font-size: 3vw !important;
      text-align: center;
    }
  }

  .workview{
    background:#2f2f2f !important;
    min-height: 100%;
    
    & .titletext{
      z-index: 100;
    }
    
    & .workbox{
      padding: 0;
      margin: 0 auto;
      padding-top: 15px;
      width: 100%;
      position: relative;
      display: flex;
      flex-direction: column;
      & .workcontain{
        display: inline-block;
        flex: 1 0 auto;
        margin: 0 auto;
        padding: 0;
        position: relative;
      }

      & .workimg{
        max-width: 100%;
        height: auto;
      }

      & .workanchor{
        position: absolute;
        @include center;
        z-index: 10;
        height: 10vw;
        width: 10vw;
        background: white;
        opacity: 0.6;
        border-radius: 50%;
        color: #2f2f2f;
        &:link{
          color: #2f2f2f;
        }
        &:active{
          color: #2f2f2f;
        }

        &:hover{
          transform: translate(-50%, -50%) scale(1.1);
          opacity: 1;
        }

        & i {
          @include center;
          font-size: 2.4em;
        }
      }
    }

    & .workposter{
      display: none;
    }
  }

  .toolsview{
    & .tooliconbox{
      padding:  0;
      margin: 0;
      padding-top: 5%;
      padding-bottom: 5%;
      max-width: 100%;
    }
  }

  .contactview{
    & .emailname{
      & .text{
        font-size: 6vw;
      }
      & .socialtext{
        & .intext{
          font-size: 3vw;
        }
      }
    }
  }

  .navs{
    display:none;
  }
}

@media (max-width: 760px){
  @include mobileview;
}

//----Animations----
@keyframes strike{
  0% {
    width: 0%;
  }
  100% {
    width: 110%;
  }
}